gnome-sdk-helper
rpm-dependencies.P
packages/SOURCES/*.tar.xz
packages/SOURCES/*.tar.bz2
gnome-continuous-yocto
yocto-build
root
var
packages/BUILD/
packages/RPMS/
packages/SRPMS/
packages/rpmdb/
packages/BUILDROOT/
packages/gnome-platform/
packages/.*
gnome-sdk.tar.xz
gnome-sdk-rpmdb.tar.xz
gnome-platform.tar.xz
gnome-platform-rpmdb.tar.xz
gnome-platform-packages
