gnome-sdk-helper
rpm-dependencies.P
packages/SOURCES/*.zip
packages/SOURCES/*.tgz
packages/SOURCES/*.tar.gz
packages/SOURCES/*.tar.xz
packages/SOURCES/*.tar.bz2
freedesktop-sdk-base
build
repository
release
packages/BUILD/
packages/BUILD_XXXXX/
packages/RPMS/
packages/SRPMS/
packages/rpmdb/
packages/BUILDROOT/
packages/gnome-platform/
packages/.*
gnome-sdk.tar.xz
gnome-sdk-rpmdb.tar.xz
gnome-platform.tar.xz
gnome-platform-rpmdb.tar.xz
gnome-sdk.tar.gz
gnome-sdk-rpmdb.tar.gz
gnome-platform.tar.gz
gnome-platform-rpmdb.tar.gz
gnome-platform-packages
freedesktop-platform-packages
freedesktop-platform-rpmdb.tar.gz
freedesktop-platform.tar.gz
freedesktop-sdk-rpmdb.tar.gz
freedesktop-sdk.tar.gz
*~
